{{> head }}
{{> navbar }}

<div class="row">
    <div class="col-8">
        <h1>Halo</h1>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam tenetur odio deleniti modi voluptate dolore impedit necessitatibus totam, quidem voluptatibus consequatur laborum. Cum rerum pariatur quisquam deserunt illo eaque iusto.
        </p>
    </div>
    <div class="col-4">
        <img src="assets/img/halo.jpg" class="img-thubnail">
    </div>
</div>

{{> footer }}